@charset "UTF-8";
.header {
  border-bottom: 5px solid #ffcad4;
  padding: 14px 0 15px 0;
}
.header img {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right {
  display: flex;
  align-items: center;
}

.form {
  position: relative;
}

.input-search {
  width: 241px;
  padding: 10.62px 5px 11.62px 40px;
  border: 1px solid #f5f5f5;
  margin-right: 25px;
}
.input-search::-moz-placeholder {
  font-size: 12px;
  line-height: 136%;
  letter-spacing: 0.155em;
  text-transform: uppercase;
}
.input-search:-ms-input-placeholder {
  font-size: 12px;
  line-height: 136%;
  letter-spacing: 0.155em;
  text-transform: uppercase;
}
.input-search::placeholder {
  font-size: 12px;
  line-height: 136%;
  letter-spacing: 0.155em;
  text-transform: uppercase;
}
@media screen and (max-width: 580px) {
  .input-search {
    display: none;
  }
}

.search-icon {
  position: absolute;
  left: 10.37px;
  transform: translateY(50%);
}
@media screen and (max-width: 580px) {
  .search-icon {
    display: block;
  }
}

.header-nav-list {
  display: flex;
  gap: 29px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 58px;
}
@media screen and (max-width: 767px) {
  .container {
    padding: 5px;
  }
}

body {
  font-family: "Pan Display Regular" !important;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

.page {
  padding-top: 30px;
  padding-bottom: 50px;
}

.mian-container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .mian-container {
    display: block;
  }
}

.main-left {
  width: 65%;
}
@media screen and (max-width: 767px) {
  .main-left {
    display: none;
  }
}

.photo-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.photo-card img {
  width: 400px;
  height: 400px;
}
@media screen and (max-width: 1200px) {
  .photo-card img {
    width: 300px;
    height: 300px;
  }
}

.main-right {
  width: 35%;
}
@media screen and (max-width: 767px) {
  .main-right {
    width: 100%;
  }
}

.right-container {
  max-width: 330px;
  margin-left: 75px;
}
@media screen and (max-width: 1300px) {
  .right-container {
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .right-container {
    width: 100%;
    margin: 0 auto;
  }
}

.right-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  letter-spacing: 0.125em;
  color: #71706c;
  padding-top: 20px;
  margin-bottom: 10px;
}

.right-title {
  max-width: 276px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 28px;
  line-height: 116%;
  text-align: center;
  color: #27251f;
}
@media screen and (max-width: 767px) {
  .right-title {
    max-width: 334px;
    font-weight: 700;
    font-size: 24px;
    line-height: 18px;
    /* identical to box height, or 75% */
    text-align: center;
    letter-spacing: 0.017em;
    color: #27251f;
  }
}

.price {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 21px;
}

.old-price {
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.003em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #27251f;
}

.new-price {
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.003em;
  color: #d2255b;
}

.description {
  max-width: 301px;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: 0.017em;
  color: #27251f;
}
@media screen and (max-width: 767px) {
  .description {
    max-width: 330px;
  }
}

.question-block {
  margin-top: 30px;
}

.question {
  display: none;
}

.question-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #27251f;
  margin-bottom: 4px;
}

.question-text {
  font-size: 14px;
  line-height: 130%;
  color: #27251f;
  padding-bottom: 10px;
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 20px;
}

.answer {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #27251f;
  border-radius: 3px;
  transition: all 0.2s linear;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 15px 0;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  color: #ffffff;
}

.answer:hover {
  background: #ffcad4;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.145em;
  text-transform: uppercase;
  color: #27251f;
}

.active-question {
  display: block;
}

.slider {
  position: relative;
}
@media screen and (min-width: 767px) {
  .slider {
    display: none;
  }
}

.slider__item {
  display: flex;
  justify-content: center;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 50;
  font-size: 0;
  width: 7.8px;
  height: 16px;
  border: none;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  left: 0;
  background: url("../img/prew.png") 0 0 no-repeat;
  background-size: contain;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  background: url("../img/Next.png") 0 0 no-repeat;
  background-size: contain;
}

/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: flex;
  gap: 6px;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots li {
  list-style: none;
}

/* Активная точка */
.slick-dots li.slick-active button {
  background-color: #e6a5b2;
}

/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  border-radius: 50%;
  border: none;
  width: 6px;
  height: 6px;
  background: #e1e1e2;
  padding: 0;
}

.header-mob {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 16px 10px 16px;
  border-bottom: 5px solid #ffcad4;
  display: none;
}
@media screen and (max-width: 767px) {
  .header-mob {
    display: flex;
    justify-content: space-between;
  }
}
.header-mobimg {
  cursor: pointer;
}

.left-side {
  display: flex;
  gap: 19px;
}

.logo {
  padding-bottom: 9px;
}

.right-side {
  display: flex;
  align-items: flex-end;
  gap: 34px;
}

.feedback-container {
  position: fixed;
  right: -45px;
  top: 50%;
  transform: translateY(-50%) rotateY("angle");
  border: 1px solid #b4b4b4;
  border-radius: 3px 0px 0px 3px;
  padding: 14px 21px 11px 22px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: all 0.2s linear;
}
.feedback-container:hover {
  transform: rotate(90deg) translateY(20px);
}
@media screen and (max-width: 767px) {
  .feedback-container {
    padding: 6px 12px 7px 12px;
  }
}

.feedback {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.155em;
  text-transform: uppercase;
  color: #27251f;
}/*# sourceMappingURL=main.css.map */