*,
::before,
::after {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 58px;
  @media screen and (max-width: 767px) {
    padding: 5px;
  }
}
@import url(//db.onlinewebfonts.com/c/8f0df2cb0f7181e0f37615026d9bfce3?family=Pan+Display);

body {
  font-family: "Pan Display Regular" !important;
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
