*,
::before,
::after {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 58px;
  @media screen and (max-width: 767px) {
    padding: 5px;
  }
}
@font-face {
  font-family: "Conv_Pan";
  src: url("../fonts/Pan Display Regular.eot");
  src: local("☺"), url("../fonts/Pan Display Regular.woff") format("woff"),
    url("../fonts/Pan Display Regular.ttf") format("truetype"),
    url("../fonts/Pan Display Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Pan Display Bold";
  src: url("../fonts/Pan Display Bold.eot");
  src: local("☺"), url("../fonts/Pan Display Bold.woff") format("woff"),
    url("../fonts/Pan Display Bold.ttf") format("truetype"),
    url("../fonts/Pan Display Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Conv_Pan";
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
